/* CLOX BUTTON STYLE TYPES */

button {
    min-width: 180px;
    min-height: 35px;
}

.button,
.btn {
    text-shadow: 0 0 5px rgb(85, 85, 85);
    background: #000000;
    color: green;
    border: 1px solid rgb(17, 66, 16);
    min-width: 100px;
    cursor: pointer;
}

.button:hover,
.btn:hover {
    border: 1px solid rgb(52, 187, 48);
    color: red;
}

.button:focus,
.button:active,
.button:active:focus,
.btn:focus,
.btn:active,
.btn:active:focus {
    background: #000000;
    border: 1px solid rgb(52, 187, 48);
    outline: none;
}

.button[disabled],
.button[disabled]:hover,
.btn[disabled],
.btn[disabled]:hover {
    text-shadow: none;
    background: rgb(94, 7, 7);
    border: 1px solid rgb(0, 0, 0);
    color: rgb(95, 56, 56);
    opacity: 1;
}

.input-group-btn:last-child>.btn {
    margin-left: 0;
}

.input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
    border-right: 0;
}

.btn-group>.btn:hover,
.btn-group>.btn:active,
.btn-group>.btn:focus,
.btn-group>.btn:active:focus {
    z-index: 0;
}

/* Blue */

.info {
    color: #2196F3;
    background-color: black;
    text-shadow: 0 0 5px rgb(85, 85, 85);
    min-width: 100px;
    cursor: pointer;
    border: 1px solid #2196F3;
}

.info:hover {
    color: #095a9c;
    background: black;
}

/* Orange */

.warning {
    color: #ff9800;
    background-color: black;
    text-shadow: 0 0 5px rgb(85, 85, 85);
    min-width: 100px;
    cursor: pointer;
    border: 1px solid #ff9800;
}

.warning:hover {
    color: #e68a00;
    background: black;
}

/* Red */

.danger {
    color: #f44336;
    background-color: black;
    text-shadow: 0 0 5px rgb(85, 85, 85);
    min-width: 100px;
    cursor: pointer;
    border: 1px solid #f44336;
}

.danger:hover {
    color: #da190b;
    background: black;
}

/* Gray */

.default {
    color: #e7e7e7;
    background-color: black;
    text-shadow: 0 0 5px rgb(85, 85, 85);
    min-width: 100px;
    cursor: pointer;
    border: 1px solid #e7e7e7;
}

.default:hover {
    color: rgb(139, 139, 139);
    background: black;
}

.white {
    color: white;
}

.black {
    color: black;
}

/* CUSTOM CLOX STYLES */

* {
    box-sizing: border-box;
}

.header {
    background-color: #001800de;
    color: green;
    padding: 5px;
}

.footer {
    background-color: #001800de;
    color: green;
    padding: 10px;
}

.column {
    float: left;
    padding: 15px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.menu {
    width: 28%;
}

.content {
    width: 60%;
}

.fallout {
    color: green;
    background-color: #001800de;
}

.fallout-box {
    color: green;
    background-color: #001800de;
    border: green;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    border: none;
    color: green;
    padding: 8px 8px;
    margin: 8px;
    width: 95%;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: 2px 3px 4px #000000;
    background-color: #001800de;
    text-align: center;
}

.menu li:hover {
    color: #da190b;
    background-color: black;
}

body {
    background-color: black;
}

h1 {
    font-family: "Ubuntu";
    color: green;
}

h2 {
    font-family: "Ubuntu";
    color: green;
}

h3 {
    font-family: "Ubuntu";
    color: green;
}

h4 {
    font-family: "Ubuntu";
    color: green;
}

p {
    font-family: "Ubuntu";
    color: green;
}

a {
    font-family: "Ubuntu";
    color: #095a9c;
}

/* Center the loader and define appearance */

#loader {
    position: absolute;
    z-index: 1;
    width: 80px;
    height: 80px;
    display: -webkit-flex;
    /* Safari */
    -webkit-justify-content: center;
    /* Safari 6.1+ */
    display: flex;
    justify-content: center;
    border: 2px solid transparant;
    border-radius: 50%;
    border-top: 16px solid green;
    border-bottom: 16px solid green;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Add animation to "page content" */

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -80px;
        opacity: 0
    }
    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

#myDiv {
    display: none;
    text-align: left;
}
