/* iframe */

.iframe {
    border: 3px solid #4CAF50;
    overflow: hidden;
    background: #black;
}

.iframe iframe {
    width: 100%;
    height: 300px;
    border: 0;
    display: block;
}

.iframe-header {
    display: none;
}

.js .iframe-header {
    display: block;
}

.iframe-content {
    /* ipad iframe hack */
    height: 300px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.iframe-header a {
    font-size: 15px;
    color: white;
    background: #000000;
    display: block;
    padding: 15px;
    text-align: center;
    border-bottom: 3px solid #4CAF50;
}

.iframe-header a:hover,
.iframe-header a:focus {
    background: #6A798E;
}

.iframe-full-screen .iframe-header {
    display: block;
    position: absolute;
    height: 40px;
    width: 100%;
}

.iframe-full-screen .iframe-content {
    position: absolute;
    top: 40px;
    bottom: 0;
    width: 100%;
    height: auto;
}

.iframe-full-screen .iframe-header a {
    padding: 0;
    height: 34px;
    line-height: 34px;
    text-align: center;
    border: 3px solid #131C28;
}

.iframe-full-screen body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.iframe-full-screen .iframe.iframe-active {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    border: none;
}

.iframe-full-screen .iframe iframe {
    position: absolute;
    height: 100%;
    width: 100%;
    border: none;
}

.wrapper {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap
}

.item {
    display: inline-block;
    flex: 1 250px;
}

@media all and (max-height: 300px) {
    .iframe {
        height: 250px;
    }
}
