/* iframe */

.iframe {
    border: 3px solid #131C28;
    overflow: hidden;
    background: #fff;
}

.iframe iframe {
    width: 100%;
    height: 400px;
    border: 0;
    display: block;
}

.iframe-header {
    display: none;
}

.js .iframe-header {
    display: block;
}

.iframe-content {
    /* ipad iframe hack */
    height: 400px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.iframe-header a {
    font-size: 15px;
    color: white;
    background: #3B4658;
    display: block;
    padding: 15px;
    text-align: center;
    border-bottom: 3px solid #131C28;
}

.iframe-header a:hover,
.iframe-header a:focus {
    background: #6A798E;
}

.iframe-full-screen .iframe-header {
    display: block;
    position: absolute;
    height: 50px;
    width: 100%;
}

.iframe-full-screen .iframe-content {
    position: absolute;
    top: 50px;
    bottom: 0;
    width: 100%;
    height: auto;
}

.iframe-full-screen .iframe-header a {
    padding: 0;
    height: 44px;
    line-height: 44px;
    text-align: center;
    border: 3px solid #131C28;
}

.iframe-full-screen body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.iframe-full-screen .iframe.iframe-active {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    border: none;
}

.iframe-full-screen .iframe iframe {
    position: absolute;
    height: 100%;
    width: 100%;
    border: none;
}

.wrapper {
    max-width: 1000px;
    margin: 20px auto;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap
}

.item {
    display: inline-block;
    flex: 1 300px;
}

@media all and (max-height: 400px) {
    .iframe {
        height: 300px;
    }
}

/* CUSTOM CLOX STYLES */

* {
    box-sizing: border-box;
}

.header {
    background-color: black;
    color: #000000;
    padding: 15px;
}

.footer {
    background-color: black;
    color: #000000;
    padding: 15px;
    font-color: #ffffff;
}

.column {
    float: left;
    padding: 15px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.menu {
    width: 28%;
    font-family: 'Didact Gothic', sans-serif;
}

.content {
    width: 60%;
}

.white {
    color: white;
}

.dark {
    color: black;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    border: none;
    color: #ffffff;
    padding: 8px 8px;
    margin: 8px;
    width: 95%;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: 2px 3px 4px #000000;
    background-color: #f44336;
    text-align: center;
}

.menu li:hover {
    background-color: #da190b;
}

body {
    background-color: black;
}

h1 {
    font-family: "Roboto";
    margin: 10px;
}

h2 {
    font-family: "Roboto";
    margin: 10px;
}

h3 {
    font-family: "Roboto";
    margin: 10px;
}

h4 {
    font-family: "Roboto";
    margin: 20px;
}

p {
    font-family: "Roboto";
}

.btn {
    border: none;
    color: #ffffff;
    padding: 8px 8px;
    margin: 10px;
    max-width: 50%;
    min-width: 180px;
    font-size: 12px;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: 2px 3px 4px #000000;
}

.success {
    background-color: #4CAF50;
}

/* Green */

.success:hover {
    background-color: #2f6a31;
}

.info {
    background-color: #2196F3;
}

/* Blue */

.info:hover {
    background: #0b7dda;
}

.warning {
    background-color: #ff9800;
}

/* Orange */

.warning:hover {
    background: #e68a00;
}

.danger {
    background-color: #f44336;
}

/* Red */

.danger:hover {
    background: #da190b;
}

.default {
    background-color: #e7e7e7;
    color: "black";
}

/* Gray */

.default:hover {
    background: #ddd;
}

/* Center the loader and define appearance */

#loader {
    position: relative;
    left: 48%;
    z-index: 1;
    width: 100px;
    height: 100px;
    margin-top: 20%;
    margin-bottom: 30%;
    border: 2px solid transparant;
    border-radius: 50%;
    border-top: 16px solid #367d39;
    border-bottom: 16px solid #367d39;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Add animation to "page content" */

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -80px;
        opacity: 0
    }
    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

#myDiv {
    display: none;
    text-align: left;
}
