/* CodeMirror Styles -- START */

.CodeMirror {
	line-height: 1em;
	font-family: monospace;
  }
  
  .CodeMirror-scroll {
	overflow: auto;
	height: 300px;
	/* This is needed to prevent an IE[67] bug where the scrolled content
	   is visible outside of the scrolling box. */
	position: relative;
  }
  
  .CodeMirror-gutter {
	position: absolute; left: 0; top: 0;
	z-index: 10;
	background-color: #f7f7f7;
	border-right: 1px solid #eee;
	min-width: 2em;
	height: 100%;
  }
  .CodeMirror-gutter-text {
	color: #aaa;
	text-align: right;
	padding: .4em .2em .4em .4em;
	white-space: pre !important;
  }
  .CodeMirror-lines {
	padding: .4em;
  }
  
  .CodeMirror pre {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	border-width: 0; margin: 0; padding: 0; background: transparent;
	font-family: inherit;
	font-size: inherit;
	padding: 0; margin: 0;
	white-space: pre;
	word-wrap: normal;
  }
  
  .CodeMirror-wrap pre {
	word-wrap: break-word;
	white-space: pre-wrap;
  }
  .CodeMirror-wrap .CodeMirror-scroll {
	overflow-x: hidden;
  }
  
  .CodeMirror textarea {
	outline: none !important;
  }
  
  .CodeMirror pre.CodeMirror-cursor {
	z-index: 10;
	position: absolute;
	visibility: hidden;
	border-left: 1px solid black;
  }
  .CodeMirror-focused pre.CodeMirror-cursor {
	visibility: visible;
  }
  
  div.CodeMirror-selected { background: #d9d9d9; }
  .CodeMirror-focused div.CodeMirror-selected { background: #d7d4f0; }
  
  .CodeMirror-searching {
	background: #ffa;
	background: rgba(255, 255, 0, .4);
  }
  
  /* Default theme */
  
  .cm-s-default span.cm-keyword {color: #708;}
  .cm-s-default span.cm-atom {color: #219;}
  .cm-s-default span.cm-number {color: #164;}
  .cm-s-default span.cm-def {color: #00f;}
  .cm-s-default span.cm-variable {color: black;}
  .cm-s-default span.cm-variable-2 {color: #05a;}
  .cm-s-default span.cm-variable-3 {color: #085;}
  .cm-s-default span.cm-property {color: black;}
  .cm-s-default span.cm-operator {color: black;}
  .cm-s-default span.cm-comment {color: #a50;}
  .cm-s-default span.cm-string {color: #a11;}
  .cm-s-default span.cm-string-2 {color: #f50;}
  .cm-s-default span.cm-meta {color: #555;}
  .cm-s-default span.cm-error {color: #f00;}
  .cm-s-default span.cm-qualifier {color: #555;}
  .cm-s-default span.cm-builtin {color: #30a;}
  .cm-s-default span.cm-bracket {color: #cc7;}
  .cm-s-default span.cm-tag {color: #170;}
  .cm-s-default span.cm-attribute {color: #00c;}
  .cm-s-default span.cm-header {color: #a0a;}
  .cm-s-default span.cm-quote {color: #090;}
  .cm-s-default span.cm-hr {color: #999;}
  .cm-s-default span.cm-link {color: #00c;}
  
  span.cm-header, span.cm-strong {font-weight: bold;}
  span.cm-em {font-style: italic;}
  span.cm-emstrong {font-style: italic; font-weight: bold;}
  span.cm-link {text-decoration: underline;}
  
  div.CodeMirror span.CodeMirror-matchingbracket {color: #0f0;}
  div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #f22;}
  
/* CodeMirror Styles -- END */
/* X-Code Editor Styles -- START */

.cm-s-xcodeTheme span.cm-comment { color: #008e00; }
.cm-s-xcodeTheme span.cm-keyword { font-weight: bold; color: #CC00A1; }
.cm-s-xcodeTheme span.cm-string { color: #E20000; }
.cm-s-xcodeTheme span.cm-builtin { font-weight: bold; color: #077; }
.cm-s-xcodeTheme span.cm-special { font-weight: bold; color: #0aa; }
.cm-s-xcodeTheme span.cm-variable { color: #408389; }
.cm-s-xcodeTheme span.cm-number, .cm-s-neat span.cm-atom { color: #4300DB; }
.cm-s-xcodeTheme span.cm-meta {color: #555;}
.cm-s-xcodeTheme span.cm-link { color: #3a3; }

/* X-Code Editor Styles -- END */
/* CodeBook Styles -- START */

* {
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	margin:0px;
	padding:0px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	outline: none;
}

body {
	background-color:rgb(93,93,93);
}

html, body {
	height: 100%;
	overflow: hidden;
}

#superContainer {
	position:absolute;
	width:1000px;
	height:500px;
	top:50%;
	left:50%;
	margin-left:-500px;
	margin-top:-250px;

	-moz-box-shadow: 0px 5px 25px #000;
	-webkit-box-shadow: 0px 5px 25px #000;
	box-shadow: 0px 5px 25px #000;
}

#codeContainer {
	position:absolute;
	width:500px;
	left:500px;
	top:0px;
	height:500px;
	overflow:hidden;
	background-color:white;
}

#displayContainer {
	position:absolute;
	left:0px;
	width:500px;
	height:500px;
	top:0px;
	border:none;
	overflow:hidden;
}

.CodeMirror * {
	-webkit-touch-callout: text;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

.CodeMirror-scroll {
	height: 500px; 
	width: 500px;
	overflow: auto;
}

.errorLine {
	background:#fdd !important;
}

.highlightLine {
	background:#bfb !important;
}

.errorMarker {
	background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAACXBIWXMAAAsTAAALEwEAmpwYAAAKT2lDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjanVNnVFPpFj333vRCS4iAlEtvUhUIIFJCi4AUkSYqIQkQSoghodkVUcERRUUEG8igiAOOjoCMFVEsDIoK2AfkIaKOg6OIisr74Xuja9a89+bN/rXXPues852zzwfACAyWSDNRNYAMqUIeEeCDx8TG4eQuQIEKJHAAEAizZCFz/SMBAPh+PDwrIsAHvgABeNMLCADATZvAMByH/w/qQplcAYCEAcB0kThLCIAUAEB6jkKmAEBGAYCdmCZTAKAEAGDLY2LjAFAtAGAnf+bTAICd+Jl7AQBblCEVAaCRACATZYhEAGg7AKzPVopFAFgwABRmS8Q5ANgtADBJV2ZIALC3AMDOEAuyAAgMADBRiIUpAAR7AGDIIyN4AISZABRG8lc88SuuEOcqAAB4mbI8uSQ5RYFbCC1xB1dXLh4ozkkXKxQ2YQJhmkAuwnmZGTKBNA/g88wAAKCRFRHgg/P9eM4Ors7ONo62Dl8t6r8G/yJiYuP+5c+rcEAAAOF0ftH+LC+zGoA7BoBt/qIl7gRoXgugdfeLZrIPQLUAoOnaV/Nw+H48PEWhkLnZ2eXk5NhKxEJbYcpXff5nwl/AV/1s+X48/Pf14L7iJIEyXYFHBPjgwsz0TKUcz5IJhGLc5o9H/LcL//wd0yLESWK5WCoU41EScY5EmozzMqUiiUKSKcUl0v9k4t8s+wM+3zUAsGo+AXuRLahdYwP2SycQWHTA4vcAAPK7b8HUKAgDgGiD4c93/+8//UegJQCAZkmScQAAXkQkLlTKsz/HCAAARKCBKrBBG/TBGCzABhzBBdzBC/xgNoRCJMTCQhBCCmSAHHJgKayCQiiGzbAdKmAv1EAdNMBRaIaTcA4uwlW4Dj1wD/phCJ7BKLyBCQRByAgTYSHaiAFiilgjjggXmYX4IcFIBBKLJCDJiBRRIkuRNUgxUopUIFVIHfI9cgI5h1xGupE7yAAygvyGvEcxlIGyUT3UDLVDuag3GoRGogvQZHQxmo8WoJvQcrQaPYw2oefQq2gP2o8+Q8cwwOgYBzPEbDAuxsNCsTgsCZNjy7EirAyrxhqwVqwDu4n1Y8+xdwQSgUXACTYEd0IgYR5BSFhMWE7YSKggHCQ0EdoJNwkDhFHCJyKTqEu0JroR+cQYYjIxh1hILCPWEo8TLxB7iEPENyQSiUMyJ7mQAkmxpFTSEtJG0m5SI+ksqZs0SBojk8naZGuyBzmULCAryIXkneTD5DPkG+Qh8lsKnWJAcaT4U+IoUspqShnlEOU05QZlmDJBVaOaUt2ooVQRNY9aQq2htlKvUYeoEzR1mjnNgxZJS6WtopXTGmgXaPdpr+h0uhHdlR5Ol9BX0svpR+iX6AP0dwwNhhWDx4hnKBmbGAcYZxl3GK+YTKYZ04sZx1QwNzHrmOeZD5lvVVgqtip8FZHKCpVKlSaVGyovVKmqpqreqgtV81XLVI+pXlN9rkZVM1PjqQnUlqtVqp1Q61MbU2epO6iHqmeob1Q/pH5Z/YkGWcNMw09DpFGgsV/jvMYgC2MZs3gsIWsNq4Z1gTXEJrHN2Xx2KruY/R27iz2qqaE5QzNKM1ezUvOUZj8H45hx+Jx0TgnnKKeX836K3hTvKeIpG6Y0TLkxZVxrqpaXllirSKtRq0frvTau7aedpr1Fu1n7gQ5Bx0onXCdHZ4/OBZ3nU9lT3acKpxZNPTr1ri6qa6UbobtEd79up+6Ynr5egJ5Mb6feeb3n+hx9L/1U/W36p/VHDFgGswwkBtsMzhg8xTVxbzwdL8fb8VFDXcNAQ6VhlWGX4YSRudE8o9VGjUYPjGnGXOMk423GbcajJgYmISZLTepN7ppSTbmmKaY7TDtMx83MzaLN1pk1mz0x1zLnm+eb15vft2BaeFostqi2uGVJsuRaplnutrxuhVo5WaVYVVpds0atna0l1rutu6cRp7lOk06rntZnw7Dxtsm2qbcZsOXYBtuutm22fWFnYhdnt8Wuw+6TvZN9un2N/T0HDYfZDqsdWh1+c7RyFDpWOt6azpzuP33F9JbpL2dYzxDP2DPjthPLKcRpnVOb00dnF2e5c4PziIuJS4LLLpc+Lpsbxt3IveRKdPVxXeF60vWdm7Obwu2o26/uNu5p7ofcn8w0nymeWTNz0MPIQ+BR5dE/C5+VMGvfrH5PQ0+BZ7XnIy9jL5FXrdewt6V3qvdh7xc+9j5yn+M+4zw33jLeWV/MN8C3yLfLT8Nvnl+F30N/I/9k/3r/0QCngCUBZwOJgUGBWwL7+Hp8Ib+OPzrbZfay2e1BjKC5QRVBj4KtguXBrSFoyOyQrSH355jOkc5pDoVQfujW0Adh5mGLw34MJ4WHhVeGP45wiFga0TGXNXfR3ENz30T6RJZE3ptnMU85ry1KNSo+qi5qPNo3ujS6P8YuZlnM1VidWElsSxw5LiquNm5svt/87fOH4p3iC+N7F5gvyF1weaHOwvSFpxapLhIsOpZATIhOOJTwQRAqqBaMJfITdyWOCnnCHcJnIi/RNtGI2ENcKh5O8kgqTXqS7JG8NXkkxTOlLOW5hCepkLxMDUzdmzqeFpp2IG0yPTq9MYOSkZBxQqohTZO2Z+pn5mZ2y6xlhbL+xW6Lty8elQfJa7OQrAVZLQq2QqboVFoo1yoHsmdlV2a/zYnKOZarnivN7cyzytuQN5zvn//tEsIS4ZK2pYZLVy0dWOa9rGo5sjxxedsK4xUFK4ZWBqw8uIq2Km3VT6vtV5eufr0mek1rgV7ByoLBtQFr6wtVCuWFfevc1+1dT1gvWd+1YfqGnRs+FYmKrhTbF5cVf9go3HjlG4dvyr+Z3JS0qavEuWTPZtJm6ebeLZ5bDpaql+aXDm4N2dq0Dd9WtO319kXbL5fNKNu7g7ZDuaO/PLi8ZafJzs07P1SkVPRU+lQ27tLdtWHX+G7R7ht7vPY07NXbW7z3/T7JvttVAVVN1WbVZftJ+7P3P66Jqun4lvttXa1ObXHtxwPSA/0HIw6217nU1R3SPVRSj9Yr60cOxx++/p3vdy0NNg1VjZzG4iNwRHnk6fcJ3/ceDTradox7rOEH0x92HWcdL2pCmvKaRptTmvtbYlu6T8w+0dbq3nr8R9sfD5w0PFl5SvNUyWna6YLTk2fyz4ydlZ19fi753GDborZ752PO32oPb++6EHTh0kX/i+c7vDvOXPK4dPKy2+UTV7hXmq86X23qdOo8/pPTT8e7nLuarrlca7nuer21e2b36RueN87d9L158Rb/1tWeOT3dvfN6b/fF9/XfFt1+cif9zsu72Xcn7q28T7xf9EDtQdlD3YfVP1v+3Njv3H9qwHeg89HcR/cGhYPP/pH1jw9DBY+Zj8uGDYbrnjg+OTniP3L96fynQ89kzyaeF/6i/suuFxYvfvjV69fO0ZjRoZfyl5O/bXyl/erA6xmv28bCxh6+yXgzMV70VvvtwXfcdx3vo98PT+R8IH8o/2j5sfVT0Kf7kxmTk/8EA5jz/GMzLdsAAAAgY0hSTQAAeiUAAICDAAD5/wAAgOkAAHUwAADqYAAAOpgAABdvkl/FRgAAAM1JREFUeNpk0L8KQWEch/HndY7BZDH6U7IgO4NEktyDokwWrkMpl+AObGc0nY47MOKIxbEo+fNKP4Mccp7503f4KhEBwFJqDFT4tgCGLZGnEhEspSbJanWQKJd9sbNt3Pl8CvRMS6lRslgc5Op1Qobho2ijAbdbx3UcTKCZymQIeR7/pbNZXMepmQB4HmgdQFwuALzR4QDncxDd7z5abFerQj4WC5j18Qhgm0DfPZ0iXK/teDjsg/3jwUbrGdD9XGAAE6D0M7QEei0R/RoAoB9K83GwBRUAAAAASUVORK5CYII=") !important;
	background-repeat:no-repeat !important;
	background-position:center center !important;
}

#errorReport {
	position:absolute;
	width:490px;
	height:auto;
	min-height:30px !important;
	top:0px;
	left:50%;
	border:1px solid #ccc;
	background-color:white;
	z-index:11;

	-moz-box-shadow: 0px 2px 5px rgba(0,0,0,0.7);
	-webkit-box-shadow: 0px 2px 5px rgba(0,0,0,0.7);
	box-shadow: 0px 2px 5px rgba(0,0,0,0.7);

	-moz-border-radius: 3px;
	border-radius: 3px;

	padding-left:7px;

	color:#111;
	line-height:30px;

	font-family:Courier, "Courier New";
	font-size:12px;
	font-weight:bold;

	opacity: 1;
	-webkit-transition: opacity 0.5s linear;
}

.hideReport {
	opacity:0 !important;
}

a {
	color: #222;
	text-decoration: none;
}

a:hover {
	color: #000;
}

.links {
	position:absolute; width:500px;
	text-align:center;
	left:50%;
	margin-left:-250px;	
	margin-top:270px;		
	top:50%;
}

.links a {
	margin-right:40px;
}

.button {
	background-color:#eee; 
	text-align:center; 
	line-height:30px; color:#222; 
	cursor:pointer; 
	border-radius: 5px;
	border:1px solid #888; 
	
	color:#222;
	text-shadow: #ccc 0px 1px 0px;
	
	width:100px;
	-moz-box-shadow: 0px 2px 2px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.4);
	box-shadow: 0px 2px 2px rgba(0,0,0,0.4);	
	background: -webkit-gradient(linear, 0% 0%, 0% 100%,  from(#D0D0D0), to(#A8A8A8)); 
}

.buttonPressed {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%,  from(#888), to(#D0D0D0)); 
	cursor: crosshair !important;
	-moz-box-shadow:inset 0px 2px 2px rgba(0,0,0,0.4);
	-webkit-box-shadow:inset 0px 2px 2px rgba(0,0,0,0.4);
	box-shadow:inset 0px 2px 2px rgba(0,0,0,0.4);	
	border: none;
}

#inspectButton {
	position:absolute;
	top:50%;
	left:50%;
	margin-left: -500px;
	margin-top: -290px;
}

.inspectCursor {
	cursor: crosshair !important;
}


#code {
	display: none;
}

#TouchCodeMainCanvas {
	background-color:white;
}

#TouchCodeHiddenCanvas {
	display:none;
}

#sourceHolder{
	display:none;
}

/* CodeBook Styles -- END */
