.spinner {
    position: absolute;
    z-index: 999;
    background: black;
    color: rgb(11, 128, 0);
    border: 1px solid rgb(11, 128, 0);
}

.spinner-msg {
    text-align: center;
    font-weight: bold;
}

.spinner-img {
    background: url("https://resonova.github.io/cdn/img/ajax-loader.gif") no-repeat;
    width: 32px;
    height: 32px;
    margin: 1em auto;
}

#subheader {
    margin-bottom: .75em;
    padding-top: 1.5em
}

#subheader h1 {
    letter-spacing: 0;
    font-size: 2.571em;
    margin-bottom: .25em;
    text-shadow: 1px 1px 0 rgb(12, 73, 6);
}

#subheader h3 {
    margin-bottom: 0;
    text-shadow: 1px 1px 0 rgb(12, 73, 6);
}

#subheader td {
    padding: 0;
    margin 0;
}

#screencastbutton {
    line-height: 4.5em;
}

.cursor-pointer img {
    cursor: pointer
}

#premiumbutton {
    margin-bottom: 1.5em
}

#forms-area {
    background-color: #002203;
    border-bottom: 1px solid #4b0000;
}

#convert-forms {
    margin: 1.5em 0 1.5em
}

#fields {
    background-color: #000000;
    border: 1px solid #4b0000;
    clear: both;
}

#tabset-tabs li {
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -khtml-border-top-right-radius: 4px;
    -khtml-border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    background: #002203d5;
    position: relative;
    top: 1px;
    float: left;
    margin-right: .5em;
    padding: .4em 0 .3em 0;
    border: 1px solid #4b0000;
    text-decoration: none
}

#tabset-tabs a {
    padding: .4em .75em .3em .75em
}

#tabset-tabs li a:link,
#tabset-tabs li a:visited {
    text-decoration: none;
    color: #163f97;
    font-weight: bold
}

#tabset-tabs li a:hover {
    color: #1049c4;
}

#tabset-tabs li.selected a:link,
#tabset-tabs li.selected a:visited {
    color: #163f97;
}

#tabset-tabs li.selected {
    background: #000000d5;
    border-bottom: 1px solid #4b0000;
}

input#uri {
    width: 85%
}

input#uri.defaulted {
    color: #003105d5;
}

#upload {
    margin: .75em 0
}

.form-instructions {
    color: green;
}

#services-wrapper {
    padding-top: 1.5em
}

.tip {
    color: #002203d5;
    width: 400px;
    z-index: 13000
}

.tip-title {
    font-weight: bold;
    font-size: 14px;
    margin: 0;
    padding: 8px 8px 4px;
    background: #012c04e8;
}

.tip-text {
    font-size: 14px;
    padding: 4px 8px 8px;
    background: green;
    opacity: .9;
    filter: alpha(opacity=90)
}

#fields fieldset {
    border: 0;
    margin: 0
}

#options {
    border-top: 1px solid #4b0000;
    padding: .75em 0
}

.gray-options {
    background-color: #003516;
}

fieldset#extra_opt {
    border-bottom: 1px solid #4b0000;
    margin: 0 1.4em;
    padding: 0
}

legend.toggletext a:link,
legend.toggletext a:visited {
    color: #408dd2;
    text-decoration: none
}

legend.toggletext a:hover {
    color: inherit
}

legend.toggletext {
    padding-bottom: .7em;
    font-size: inherit
}

#submit-wrapper {
    margin: 0 1.4em
}

#submit-wrapper table {
    table-layout: fixed;
    margin-bottom: 0
}

#submit-wrapper table td {
    width: 33%
}

.submit-button {
    text-align: center;
    padding: .929em 0
}

.submit-button input {
    font-size: 1.143em;
    font-weight: normal;
    padding: .4em 1.5em
}

#error-img-p {
    line-height: 3em;
    text-align: center
}

#conversion_error {
    color: red;
    text-align: center;
    font-weight: bold;
    padding: 0 2em 0 2em
}

#conversion_error_more {
    color: #408dd2;
    font-size: smaller
}

#options p {
    margin-bottom: 0;
    clear: both
}

#options p.last-opt {
    margin-bottom: 1.5em
}

#options ul {
    list-style-type: none;
    padding-left: 0
}

#options li label {
    font-weight: normal
}

#options input[type=checkbox] {
    margin-right: .5em
}

#options input[type=text],
#options input[type=password],
#options select {
    margin: 0
}

#options span.field-label {
    min-width: 10em;
    display: block;
    float: left
}

#options input.short_input {
    max-width: 6em;
    padding: 1px 5px
}

#options .long_input {
    min-width: 12em
}

#options .indent {
    margin-left: 2em
}

#options span.saving-options {
    background: yellow;
    margin-left: 10px;
    font-weight: bold
}

#options span.save-desc {
    color: #444
}
